header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #005cbb;
  color: #ffffff;
  z-index: 1000;
  box-shadow: 0 6px 12px -4px rgba(0, 0, 0, 0.45);
}

.header-content {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.title-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 12px;
}

.title {
  font-size: 38px;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
  margin-bottom: 8px;
}

.datetime {
  margin-top: 6px;
  font-family: monospace;
  font-size: 14px;
  opacity: 0.9;
  padding: 6px;
  border-radius: 2px;
}

.info-list {
  padding-right: 12px;
}

.info-list li {
  color: white;
  transition: color 0.5s ease;
}

.info-list li.active {
  color: chartreuse;
}



@media (min-width: 100px) { 

  .header-content {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  border-left: 32px rgba(0, 0, 0, 0.05) solid;
  border-right: 32px rgba(0, 0, 0, 0.05) solid;
}

.datetime {
  margin-top: 6px;
  font-family: monospace;
  font-size: 10px;
  opacity: 0.9;
  padding: 6px;
  border-radius: 2px;
}

.info-list {
  padding-right: 12px;
  font-size: 12px;
}
  .title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  img {
    width: 32px !important;
    height: 32px !important;
  }
 }

 .title {
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
  margin-bottom: 8px;
}
}




@media (min-width: 480px) { 

 .title-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  img {
    width: 35px !important;
    height: 35px !important;
  }
  span {

    padding-top: 20px;
  }
 }

 .title {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
  margin-bottom: 8px;
}
}


@media (min-width: 768px){

  .header-content {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  border-left: 30px rgba(0, 0, 0, 0.05) solid;
  border-right: 30px rgba(0, 0, 0, 0.05) solid;
}

} 


@media (min-width: 1024px)
 {


.datetime {
  margin-top: 6px;
  font-family: monospace;
  font-size: 15px;
  opacity: 0.9;
  padding: 6px;
  border-radius: 2px;
}

.info-list {
  padding-right: 12px;
  font-size: 18px;
}
  .title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  img {
    width: 64px !important;
    height: 64px !important;
  }
 }

 .title {
  font-size: 32px !important;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
  margin-bottom: 8px;
}

  } 
@media (min-width: 1280px) {

 .title-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 12px;
  img {
    width: 64px !important;
    height: 64px !important;
  }
 }

 .title {
  font-size: 48px !important;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
  margin-bottom: -2px;
}

 } 