

footer {
    height: 80px;
    width: 100%;
    background-color: #005cbb;
    color: white;
    font-size: 18px;
    padding: 0 32px 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
     border-left: 32px rgba(0, 0, 0, 0.05) solid;
  border-right: 32px rgba(0, 0, 0, 0.05) solid;
  z-index: 1000;
 
}

.app-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 12px 16px;
    // background-color: #0a0a0a;
    color: #aaa;
}

.app-footer mat-icon {
    color: #aaa;
    transition: color 200ms ease-in-out, transform 200ms ease-in-out;
}

.app-footer a:hover mat-icon {
    color: #4caf50;
    transform: scale(1.15);
}

.copyright {
    font-size: 12px;
    margin-left: 12px;
    opacity: 0.8;
}