.imprint {
    padding-top: 180px;
    padding-left: 28px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(221, 221, 221);
   height: calc(100vh - 80px);
   a {
    text-decoration: none;
    color: black;
    &:hover {
        color: #9747ff;
    }
   }

}

.go-back {
    cursor: pointer;
}


.back-icon mat-icon {
     color: chartreuse;
      border: 2px solid chartreuse;
    border-radius: 100%;
    padding: 3px;
    background-color: dodgerblue;
    transition: all 200ms ease-in-out;
}

.back-icon a:hover mat-icon {
   
    
     background-color: orangered;
   
     color: dodgerblue;
    border: 2px solid chartreuse;
}


@media screen and (max-width: 900px) {

    .imprint {
        flex-wrap: wrap;
      
           p {
        font-size: 12px !important;
    }
    }
   .address {
    font-size: 12px !important;
  
   }
}




