<div class="text-content">

    <meta name="description"
        content="Privater Einmalverkauf gebrauchter Heidenhain Messsysteme (LE 355, LE 415, LE 426, ROD 700) aus Lagerauflösung. Freiwillige Rückgabe innerhalb von 14 Tagen aus Kulanz.">

    <span class="text">
        <h2><b>Privater Einmalverkauf aus Lagerauflösung</b></h2>
        
        <h4> Alle angebotenen Heidenhain-Geräte stammen aus meinem privaten Besitz.
            Es handelt sich um Einzelstücke aus einer einmaligen Lagerauflösung.
            Die Geräte sind gebraucht und wurden geprüft bzw. getestet.</h4>

        <h4>Ich bin Privatverkäufer und stehe in keiner geschäftlichen oder
            sonstigen Verbindung zur Firma Heidenhain.
            Genannte Markennamen dienen ausschließlich der eindeutigen
            Identifikation der angebotenen Produkte.</h4>

        <h4> Eine <b>freiwillige Rückgabe innerhalb von 14 Tagen</b> wird aus Kulanz angeboten,
            falls ein Artikel nicht wie beschrieben funktioniert.
            Die Rücksendung hat im original versendeten Zustand zu erfolgen.
            Versandkosten sowie Rückversandkosten trägt der Käufer.</h4>

        <h4>Da es sich um einen privaten Verkauf handelt,
            erfolgt der Verkauf <b>ohne Rechnung und ohne Ausweis von Mehrwertsteuer</b>.</h4>
    </span>




    <!-- <span class="text">
        <b style="font-size: larger;"> Privater Verkauf aus Lagerauflösung.</b>
        <br><br>
        Alle angebotenen Heidenhain-Geräte sind Einzelstücke, getestet und funktionsfähig.
        <br>
        Ich bin Privatverkäufer und stehe in keiner Verbindung zur Firma Heidenhain.
        Markennamen werden nur zur Identifikation der Produkte verwendet.
        <br>
        14 Tage Rückgaberecht, Rücksendung im versendeten Zustand.
        Versandkosten und Rückversand trägt der Käufer.
        <br>
        Da es sich um einen Privatverkauf handelt, erfolgt der Verkauf ohne Rechnung mit Mehrwertsteuer.
    </span> -->

    <!-- <span class="text">
    Privatverkauf - Lagerauflösung
<br><br>
Die hier angebotenen Heidenhain-Geräte stammen aus einer privaten Lagerauflösung (Kellerfund).
Alle Geräte sind nur einmal vorhanden, wurden getestet und sind voll funktionsfähig, sofern nicht anders angegeben.
<br><br>
Der Verkauf erfolgt ausschließlich privat.
Es besteht keine geschäftliche oder sonstige Verbindung zur Firma Heidenhain.
Alle genannten Marken- und Produktnamen dienen lediglich der Beschreibung der angebotenen Artikel.
<br><br>
Rückgabe:
Ich gewähre eine Rückgabegarantie von 14 Tagen ab Erhalt der Ware.
Die Rücksendung muss im gleichen Zustand erfolgen, wie die Ware versendet wurde.
Die Kosten und das Risiko des Rückversands trägt der Käufer.
<br><br>
Hinweis:
Da es sich um einen Privatverkauf handelt, erfolgt der Verkauf ohne Rechnung mit Mehrwertsteuer.
  </span> -->

    <button mat-icon-button class="contact-btn" (click)="scrollToFormElement()" aria-label="Kontakt aufnehmen"
        matTooltip="Kontakt">
        <mat-icon>mail</mat-icon>
    </button>
</div>

<main>



    <!-- @for (product of products; track $index) {
    <div class="product-wrapper" [class.fullscreen]="isFullscreenIndex === $index">
        <button mat-icon-button matTooltip="zurück" class="nav left" (click)="prevLeft(product)"
            aria-label="Vorheriges Produkt">
            <mat-icon>chevron_left</mat-icon>
        </button>


        <img  [src]="product.images[product.currentIndex]" [alt]="product.title" />
        


        <button matTooltip="nächste" mat-icon-button class="nav right" (click)="prevRight(product)"
            aria-label="Vorheriges Produkt">
            <mat-icon>chevron_right</mat-icon>
        </button>


        <div class="counter">
            {{ product.currentIndex + 1 }} / {{ product.images.length }}
        </div>

        <button mat-icon-button class="fullscreen-btn" (click)="toggleFullscreen($index)" [matTooltip]="
    isFullscreenIndex === $index
      ? 'Vollbild verlassen'
      : 'Vollbild anzeigen'
  " [attr.aria-label]="
    isFullscreenIndex === $index
      ? 'Vollbild verlassen'
      : 'Vollbild anzeigen'
  ">
            <mat-icon>
                {{ isFullscreenIndex === $index ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
        </button>

        @if (isFullscreenIndex !== $index) {
        <button mat-icon-button class="contact" (click)="scrollToForm($index)" aria-label="Kontakt aufnehmen"
            matTooltip="Kontakt">
            <mat-icon>mail</mat-icon>
        </button>
        }


        <h2 class="title">{{ product.title }}</h2>
    </div>
    } -->


    @for (product of products; track $index) {

        <div class="product-wrapper">
        
          <button mat-icon-button class="nav left"
                  (click)="prevLeft(product)">
            <mat-icon>chevron_left</mat-icon>
          </button>
        
          <img
            [src]="getImage(product, '720')"
            [attr.srcset]="
              getImage(product, '400') + ' 400w, ' +
              getImage(product, '720') + ' 720w, ' +
              getImage(product, '1440') + ' 1440w'
            "
            sizes="(max-width: 768px) 90vw, 720px"
            [alt]="product.title"
            (click)="toggleFullscreen($index)"
          />
        
          <button mat-icon-button class="nav right"
                  (click)="prevRight(product)">
            <mat-icon>chevron_right</mat-icon>
          </button>
        
          <div class="counter">
            {{ product.currentIndex + 1 }} /
            {{ getBlockSize(product) }}
          </div>
        
          <button mat-icon-button class="fullscreen-btn"
                  (click)="toggleFullscreen($index)">
            <mat-icon>
              {{ isFullscreenIndex === $index ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
          </button>
        
          <h2 class="title">{{ product.title }}</h2>
        
        </div>
        }
        
        <!-- @if (fullscreenImage) {
          <div class="lightbox" (click)="toggleFullscreen(isFullscreenIndex!)">
            <img [src]="fullscreenImage"
                 (click)="$event.stopPropagation()" />
          </div>
        } -->
        

        @if (fullscreenImage) {
            <div class="lightbox">
          
              <button class="fs-nav left"
                      (click)="prevFullscreen()"
                      aria-label="Vorheriges Bild">
                ‹
              </button>
          

              <img
  [src]="fullscreenImage"
  (click)="toggleFullscreen(isFullscreenIndex!)"
/>

          
              <button class="fs-nav right"
                      (click)="nextFullscreen()"
                      aria-label="Nächstes Bild">
                ›
              </button>
          
              <div class="fs-counter">
                {{ products[isFullscreenIndex!].currentIndex + 1 }}
                /
                {{ getBlockSize(products[isFullscreenIndex!]) }}
              </div>
          
              <button class="fs-close"
                      (click)="toggleFullscreen(isFullscreenIndex!)">
                ✕
              </button>
          
            </div>
          }
          





    <div class="form-wrapper">


        <img class="form-wrapper-image" src="/img/le415b/le415-5.jpg" alt="">

        <form #formDirective="ngForm" #contactForm [formGroup]="form" (ngSubmit)="sendMessage(formDirective)"
            class="contact-form" [class.disabled]="isLoading">


            <!-- NAME -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">

                @if (name?.touched && name?.invalid) {
                <mat-error>Name ist erforderlich (min. 2 Zeichen).</mat-error>
                }
            </mat-form-field>

            <!-- EMAIL -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" style="position: relative;">
                <div style="position: absolute; bottom: -24px; left: 0; font-size: 11px; display: flex;">




                    @if (email?.touched && email?.errors) {
                    @if (email?.errors?.['required']) {
                    <mat-error>Email ist erforderlich.</mat-error>
                    }

                    @if (email?.errors?.['email']) {
                    <mat-error>Keine gültige E-Mail-Adresse.</mat-error>
                    }

                    @if (email?.errors?.['pattern']) {
                    <mat-error>Bitte ein korrektes E-Mail-Format verwenden.</mat-error>
                    }
                    }
                </div>

            </mat-form-field>

            <!-- MESSAGE -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nachricht</mat-label>
                <textarea matInput rows="5" formControlName="message"></textarea>

                @if (message?.touched && message?.invalid) {
                <mat-error>Nachricht ist erforderlich (min. 10 Zeichen).</mat-error>
                }
            </mat-form-field>

            <!-- RATE LIMIT -->
            @if (rateLimitError) {
            <div class="rate-error">{{ rateLimitError }}</div>
            }

            <!-- Ladebalken -->
            @if (isLoading) {
            <mat-progress-bar mode="indeterminate" color="primary" style="margin-bottom: 12px;"></mat-progress-bar>
            }


            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                {{ isLoading ? 'Wird gesendet...' : 'Senden' }}
            </button>


        </form>


    </div>


</main>