

<header>
    <div class="header-content">



        <div class="datetime">
            📅 {{ date }} · ⏱ {{ time }}
        </div>


        <h1>Lagerauflösung</h1>


        <ul class="info-list">
            <li [class.active]="activeIndex === 0">✔ Getestete Einzelstücke</li>
            <li [class.active]="activeIndex === 1">✔ 14 Tage Rückgaberecht</li>
            <li [class.active]="activeIndex === 2">✔ Privatverkauf</li>
        </ul>

    </div>
</header>


<div class="text-content">
    <span class="text">
        <b> Privater Verkauf aus Lagerauflösung.</b>
        <br>
        Alle angebotenen Heidenhain-Geräte sind Einzelstücke, getestet und funktionsfähig.
        <br>
        Ich bin Privatverkäufer und stehe in keiner Verbindung zur Firma Heidenhain.
        Markennamen werden nur zur Identifikation der Produkte verwendet.
        <br>
        14 Tage Rückgaberecht, Rücksendung im versendeten Zustand.
        Versandkosten und Rückversand trägt der Käufer.
        <br>
        Da es sich um einen Privatverkauf handelt, erfolgt der Verkauf ohne Rechnung mit Mehrwertsteuer.
    </span>

    <!-- <span class="text">
    Privatverkauf - Lagerauflösung
<br><br>
Die hier angebotenen Heidenhain-Geräte stammen aus einer privaten Lagerauflösung (Kellerfund).
Alle Geräte sind nur einmal vorhanden, wurden getestet und sind voll funktionsfähig, sofern nicht anders angegeben.
<br><br>
Der Verkauf erfolgt ausschließlich privat.
Es besteht keine geschäftliche oder sonstige Verbindung zur Firma Heidenhain.
Alle genannten Marken- und Produktnamen dienen lediglich der Beschreibung der angebotenen Artikel.
<br><br>
Rückgabe:
Ich gewähre eine Rückgabegarantie von 14 Tagen ab Erhalt der Ware.
Die Rücksendung muss im gleichen Zustand erfolgen, wie die Ware versendet wurde.
Die Kosten und das Risiko des Rückversands trägt der Käufer.
<br><br>
Hinweis:
Da es sich um einen Privatverkauf handelt, erfolgt der Verkauf ohne Rechnung mit Mehrwertsteuer.
  </span> -->

    <button mat-icon-button class="contact-btn" (click)="scrollToFormElement()" aria-label="Kontakt aufnehmen"
        matTooltip="Kontakt">
        <mat-icon>mail</mat-icon>
    </button>
</div>

<main>



    @for (product of products; track $index) {
    <div class="product-wrapper" [class.fullscreen]="isFullscreenIndex === $index">
        <button mat-icon-button matTooltip="zurück" class="nav left" (click)="prev(product)"
            aria-label="Vorheriges Produkt">
            <mat-icon>chevron_left</mat-icon>
        </button>


        <img [src]="product.images[product.currentIndex]" [alt]="product.title" />


        <button matTooltip="nächste" mat-icon-button class="nav right" (click)="prev(product)"
            aria-label="Vorheriges Produkt">
            <mat-icon>chevron_right</mat-icon>
        </button>


        <div class="counter">
            {{ product.currentIndex + 1 }} / {{ product.images.length }}
        </div>

        <button mat-icon-button class="fullscreen-btn" (click)="toggleFullscreen($index)" [matTooltip]="
    isFullscreenIndex === $index
      ? 'Vollbild verlassen'
      : 'Vollbild anzeigen'
  " [attr.aria-label]="
    isFullscreenIndex === $index
      ? 'Vollbild verlassen'
      : 'Vollbild anzeigen'
  ">
            <mat-icon>
                {{ isFullscreenIndex === $index ? 'fullscreen_exit' : 'fullscreen' }}
            </mat-icon>
        </button>

        @if (isFullscreenIndex !== $index) {
        <button mat-icon-button class="contact" (click)="scrollToForm($index)" aria-label="Kontakt aufnehmen"
            matTooltip="Kontakt">
            <mat-icon>mail</mat-icon>
        </button>
        }


        <div class="title">{{ product.title }}</div>
    </div>
    }

    <div class="form-wrapper">


        <img class="form-wrapper-image" src="/img/LE355B.png" alt="">

        <form #formDirective="ngForm" #contactForm [formGroup]="form" (ngSubmit)="sendMessage(formDirective)"
            class="contact-form" [class.disabled]="isLoading">


            <!-- NAME -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="name">

                @if (name?.touched && name?.invalid) {
                <mat-error>Name ist erforderlich (min. 2 Zeichen).</mat-error>
                }
            </mat-form-field>

            <!-- EMAIL -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" style="position: relative;">
                <div style="position: absolute; bottom: -24px; left: 0; font-size: 11px; display: flex;">




                    @if (email?.touched && email?.errors) {
                    @if (email?.errors?.['required']) {
                    <mat-error>Email ist erforderlich.</mat-error>
                    }

                    @if (email?.errors?.['email']) {
                    <mat-error>Keine gültige E-Mail-Adresse.</mat-error>
                    }

                    @if (email?.errors?.['pattern']) {
                    <mat-error>Bitte ein korrektes E-Mail-Format verwenden.</mat-error>
                    }
                    }
                </div>

            </mat-form-field>

            <!-- MESSAGE -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Nachricht</mat-label>
                <textarea matInput rows="5" formControlName="message"></textarea>

                @if (message?.touched && message?.invalid) {
                <mat-error>Nachricht ist erforderlich (min. 10 Zeichen).</mat-error>
                }
            </mat-form-field>

            <!-- RATE LIMIT -->
            @if (rateLimitError) {
            <div class="rate-error">{{ rateLimitError }}</div>
            }

            <!-- Ladebalken -->
            @if (isLoading) {
            <mat-progress-bar mode="indeterminate" color="primary" style="margin-bottom: 12px;"></mat-progress-bar>
            }


            <button  mat-raised-button color="primary" type="submit" [disabled]="form.invalid || isLoading">
                {{ isLoading ? 'Wird gesendet...' : 'Senden' }}
            </button>


        </form>


    </div>


</main>


<footer class="app-footer">
    <!-- Impressum -->
    <a mat-icon-button routerLink="/impressum" matTooltip="Impressum" aria-label="Impressum">
        <mat-icon>description</mat-icon>
    </a>

    <!-- Datenschutz -->
    <a mat-icon-button routerLink="/datenschutz" matTooltip="Datenschutz" aria-label="Datenschutz">
        <mat-icon>policy</mat-icon>
    </a>

    <!-- Copyright -->
    <span class="copyright">
        © {{ currentYear }} Barnabas Gonda
    </span>
</footer>