<header></header>
<main>

  <div 
    class="content" 
    *ngFor="let product of products"
  >
    <img [src]="product.image" [alt]="product.title">

    <div class="device-description">
      <span class="title">{{ product.title }}</span>
      <span class="details">{{ product.description }}</span>
    </div>

    <button class="info" (click)="openInfo(product)">Info</button>
    <button class="contact" (click)="scrollToForm()">Kontakt</button>

  </div>

</main>

<div style="width: 100%; background-color: cadetblue; height: 100%;">


<form #contactForm [formGroup]="form" (ngSubmit)="sendMessage()" class="contact-form" >

  <!-- NAME -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name">

    @if (name?.touched && name?.invalid) {
      <mat-error>Name ist erforderlich (min. 2 Zeichen).</mat-error>
    }
  </mat-form-field>

  <!-- EMAIL -->
  <mat-form-field appearance="outline" class="full-width" >
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" style="position: relative;">
<div style="position: absolute; bottom: -24px; left: 0; font-size: 11px; display: flex;">




   @if (email?.touched && email?.errors) {
      @if (email?.errors?.['required']) {
        <mat-error>Email ist erforderlich.</mat-error>
      }

      @if (email?.errors?.['email']) {
        <mat-error>Keine gültige E-Mail-Adresse.</mat-error>
      }

      @if (email?.errors?.['pattern']) {
        <mat-error>Bitte ein korrektes E-Mail-Format verwenden.</mat-error>
      }
    }
</div>
   
  </mat-form-field>

  <!-- MESSAGE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Nachricht</mat-label>
    <textarea matInput rows="5" formControlName="message"></textarea>

    @if (message?.touched && message?.invalid) {
      <mat-error>Nachricht ist erforderlich (min. 10 Zeichen).</mat-error>
    }
  </mat-form-field>

  <!-- RATE LIMIT -->
  @if (rateLimitError) {
    <div class="rate-error">{{ rateLimitError }}</div>
  }

  <button mat-raised-button color="primary" [disabled]="form.invalid">
    Senden
  </button>

</form>




</div>







<footer></footer>


  <!-- <img  src="./img/LE 355B.png" alt=""> -->
    <!-- <b> Heidenhain LE 355B: </b>gestestete Bahnsteuerung, Netzteil ist überholt. -->