@font-face {
  font-family: "Material Icons Round";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./icons/MaterialIcons-Round.ttf");
  /* For IE6-8 */
  src: url("./icons/MaterialIcons-Round.woff2") format("woff2"), url("./icons/MaterialIcons-Round.woff") format("woff"), url("./icons/MaterialIcons-Round.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons Sharp";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./icons/MaterialIcons-Sharp.ttf");
  /* For IE6-8 */
  src: url("./icons/MaterialIcons-Sharp.woff2") format("woff2"), url("./icons/MaterialIcons-Sharp.woff") format("woff"), url("./icons/MaterialIcons-Sharp.ttf") format("truetype");
}

@font-face {
  font-family: "Material Icons Two Tone";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./icons/MaterialIcons-TwoTone.ttf");
  /* For IE6-8 */
  src: url("./icons/MaterialIcons-TwoTone.woff2") format("woff2"), url("./icons/MaterialIcons-TwoTone.woff") format("woff"), url("./icons/MaterialIcons-TwoTone.ttf") format("truetype");
}


@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
   font-display: block;
  src: 
  url("./icons/MaterialIcons-Regular.ttf") format("truetype");
}

